@model IEnumerable<TenexCars.DataAccess.Models.Vehicle>
@{
    //var cars = Model.Take(3).ToList();
    ViewData["Title"] = "Operator Vehicle";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   @*  <title>Browse Cars</title> *@
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f5f5f5;
        }

        .card {
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }

        .card-footer {
            display: flex;
            justify-content: space-between;
        }

        .card-body {
            line-height: 1;
            font-size: 14px;
            font-weight: 400;
        }

        .car-image {
            height: 150px;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .car-image img {
                max-width: 100%;
                max-height: 100%;
                object-fit: cover;
            }

        #browse-all-cars {
            text-decoration: none;
            margin-bottom: 40px;
        }

            #browse-all-cars:hover {
                text-decoration: underline;
            }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url('data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuNzA2NzIgMy43MDY3Mkw4IDkuOTk5OTZMMTQuMjkzMyAzLjcwNjcyTDE2IDUuNDEzMjlMOC45OTk5NiAxMi40MTRMMCA1LjQxMzI5TDEuNzA2NzIgMy43MDY3MloiIGZpbGw9IiM0NDQ0NDQiLz4KPC9zdmc+Cg==') no-repeat right 10px center;
            background-size: 12px;
            padding-right: 30px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center my-4">Browse Cars</h1>
     @*    <form method="post" asp-controller="Operator" asp-action="Filter">
            <div class="filters row mb-4">
                <div class="col-md-2">
                    <label for="CarType">Car Type:</label>
                    <select id="CarType" name="CarType" class="form-control">
                        <option value="">All</option>
                        @foreach (var carType in ViewBag.CarType)
                        {
                            <option value="@carType" selected="@(ViewBag.SelectedCarType == carType)">@carType</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="CarName">Car Name:</label>
                    <select id="CarName" name="CarName" class="form-control">
                        <option value="">All</option>
                        @foreach (var carName in ViewBag.CarName)
                        {
                            <option value="@carName" selected="@(ViewBag.SelectedCarName == carName)">@carName</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="CarModel">Car Model:</label>
                    <select id="CarModel" name="CarModel" class="form-control">
                        <option value="">All</option>
                        @foreach (var carModel in ViewBag.CarModel)
                        {
                            <option value="@carModel" selected="@(ViewBag.SelectedCarModel == carModel)">@carModel</option>
                        }
                    </select>
                </div>
                <div class="col-md-2">
                    <label for="State">State:</label>
                    <select id="State" name="State" class="form-control">
                        <option value="">All</option>
                        @foreach (var state in ViewBag.State)
                        {
                            <option value="@state" selected="@(ViewBag.SelectedState == state)">@state</option>
                        }
                    </select>
                </div>
                <div class="col-md-2 align-self-end">
                    <button type="submit" id="find-car" class="btn btn-primary btn-block">Find a car</button>
                </div>
            </div>
        </form> *@

        <div class="car-list row">
            @foreach (var item in ViewBag.Vehicle)
            {
                <div class="car-item col-md-4 mb-4">
                    <div class="card">
                        <div class="car-image card-img-top bg-secondary" style="height: 150px;">
                            <img src="@item.ImageUrl" alt="Car image" asp-append-version="true" />
                        </div>
                        <div class="card-body">
                            <p class="card-text">Monthly Cost: @item.MonthlyCost/month</p>
                            <p class="card-text">Car Name: @item.CarName</p>
                            <p class="card-text">Car Model: @item.CarModel</p>
                            <p class="card-text">Car Type: @item.Cartype</p>
                            <p class="card-text">Color: @item.Color</p>
                            <p class="card-text">Passenger Seating: @item.SeatNumbers</p>
                            <p class="card-text">Location: @item.State</p>
                        </div>
                        <div class="card-footer">
                            <a class="nav-link" asp-area="" asp-controller="Operator" asp-action="CarDetails" asp-route-id="@item.Id"> All Details</a>
                            <a class="nav-link" asp-area="" asp-controller="Subscriber" asp-action="ReserveCar" asp-route-id="@item.Id">
                                <button class="btn btn-primary">Reserve</button>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="car-list row" id="all-cars" style="display: none;">
            @foreach (var item in Model.Skip(3))
            {
                <div class="car-item col-md-4 mb-4">
                    <div class="card">
                        <div class="car-image card-img-top bg-secondary" style="height: 150px;">
                            <img src="@item.ImageUrl" alt="Car image" asp-append-version="true" />
                        </div>
                        <div class="card-body">
                            <p class="card-text">Monthly Cost: @item.MonthlyCost/month</p>
                            <p class="card-text">Car Name: @item.CarName</p>
                            <p class="card-text">Car Model: @item.CarModel</p>
                            <p class="card-text">Car Type: @item.Cartype</p>
                            <p class="card-text">Color: @item.Color</p>
                            <p class="card-text">Passenger Seating: @item.SeatNumbers</p>
                            <p class="card-text">Location: @item.State</p>
                        </div>
                        <div class="card-footer">
                            <a class="nav-link" asp-area="" asp-controller="Operator" asp-action="CarDetails" asp-route-id="@item.Id"> All Details</a>
                            <a class="nav-link" asp-area="" asp-controller="Subscriber" asp-action="ReserveCar" asp-route-id="@item.Id">
                                <button class="btn btn-primary">Reserve</button>
                            </a>
                        </div>
                    </div>
                </div>
            }
        </div>
     @*    <p class="text-center">
            <a href="#" id="browse-all-cars" class="btn btn-link">Browse all cars</a>
        </p> *@
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   @*  <script>
        $(document).ready(function () {
            $('#browse-all-cars').click(function () {
                $('#all-cars').show();
                $(this).hide();
            });
        });
    </script> *@
</body>
</html>
